<section id="@Model.Id" class="integrate-tools">
    <div class="container">

        <h1>@Model.Title</h1>
        <p class="@Model.SubHeading"></p>

        <div class="grid-container">
            @if (Model.Boxes.Count >= 1)
            {
                @foreach (var box in @Model.Boxes)
                {
                    <NavLink class="grid-item" href="/">
                        <img src="/img/@box.Image.ImageUrl" alt="@box.Image.AltText">
                        <p>@box.Text</p>
                    </NavLink>
                }
            }
        </div>

    </div>
</section>

@code {
    IntegrateToolsModel Model { get; set; } = new()
    {
        Id = "integrateTools",
        Title = "Integrate Top Work Tools",
        SubHeading = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus",
        Boxes =
        [
            new ToolBoxModel()
            {
                Image = new ImageModel()
                {
                    ImageUrl = "Google.svg",
                    AltText = "Google Logo"
                },
                Text = "Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis."
            },
            new ToolBoxModel()
            {
                Image = new ImageModel()
                {
                    ImageUrl = "Zoom.svg",
                    AltText = "Google Logo"
                },
                Text = "In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor."
            },
            new ToolBoxModel()
            {
                Image = new ImageModel()
                {
                    ImageUrl = "color.svg",
                    AltText = "Google Logo"
                },
                Text = "Id mollis consectetur congue egestas egestas suspendisse blandit justo."
            },
            new ToolBoxModel()
            {
                Image = new ImageModel()
                {
                    ImageUrl = "gmail.svg",
                    AltText = "Google Logo"
                },
                Text = "Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent."
            },
            new ToolBoxModel()
            {
                Image = new ImageModel()
                {
                    ImageUrl = "blue-circle.svg",
                    AltText = "Google Logo"
                },
                Text = "Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna."
            },
            new ToolBoxModel()
            {
                Image = new ImageModel()
                {
                    ImageUrl = "survey-monkey.svg",
                    AltText = "Google Logo"
                },
                Text = "A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris."
            },
            new ToolBoxModel()
            {
                Image = new ImageModel()
                {
                    ImageUrl = "dropbox.svg",
                    AltText = "Google Logo"
                },
                Text = "Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea."
            },
            new ToolBoxModel()
            {
                Image = new ImageModel()
                {
                    ImageUrl = "evernote.svg",
                    AltText = "Google Logo"
                },
                Text = "Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu."
            },
        ]
    };
}
