
<EditForm method="post" novalidate Model="Model">
    <h5>Password</h5>

    <div id="form-password" class="input-group">
        <label for="@Model.Password">Current password</label>
        <span for="@Model.Password"></span>
        <InputText @bind-Value="Model.Password" placeholder="Enter your current password" />
    </div>

    <div class="password-inputs">
        <div id="form-newPassword" class="input-group">
            <label for="@Model.NewPassword">New password</label>
            <span for="@Model.NewPassword"></span>
            <InputText @bind-Value="Model.NewPassword" placeholder="Enter new password" />
        </div>

        <div id="form-confirmPassword" class="input-group">
            <label for="@Model.ConfirmPassword">Confirm password</label>
            <span for="@Model.ConfirmPassword"></span>
            <InputText @bind-Value="Model.ConfirmPassword" placeholder="Confirm password"  />
        </div>
    </div>

    <div class="buttons">
        <button class="btn-gray">Cancel</button>
        <button type="submit" class="btn-theme">Change password</button>
    </div>
    <hr />
</EditForm>

@code {
    SecurityFormModel Model = new SecurityFormModel();
}
